button {
  border: none;
}

.body-main {
  margin-top: 200px;
}
.story-container {
  display: grid;
  grid-gap: 1rem;

  grid-template-columns: 1fr 5fr 1fr 1fr;
}
.feed h1 {
  color: #464646;
  font-family: "Playfair Display", Sans-serif;
  font-weight: 800;
  font-size: 35px;
  padding: 5px;
}

.feed-img {
  align-items: center;
  width: 100%;
  text-align: center;
}
.feed-img img {
  width: 100%;
}
.div-2 .img-source {
  border-bottom: 2px solid #7f7f7f65;
  color: #7f7f7f;
  font-family: "Readex Pro", Sans-serif;
  font-size: 12px;
  font-weight: 400;
}

@media (max-width: 800px) {
  .story-container {
    grid-template-columns: 0fr 1fr 0fr 0fr;
  }
  .body-main {
    margin-top: 240px;
  }
}
.feed-links {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
}
.feed-share-links {
  width: 25%;
  display: flex;
  font-size: 18px;
}
.feed-links .name {
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
  font-style: oblique;
  color: #7f7f7f;
}
.feed-share-links a {
  padding: 0px 4px 0px 4px;
}
.feed-share-links a i {
  color: #cccccc;
  border-color: #cccccc;
}
.div-2 .news-reporter {
  color: #464646;
  font-size: 14px;
  font-weight: 800;
}

.div-2 .reporting {
  color: #7f7f7f;
  font-family: "Red Hat Display", Sans-serif;
  font-size: 12px;
  font-weight: 400;
  font-style: oblique;
  line-height: 12px;
}
.div-2 .name {
  font-size: 12px;
  font-weight: 600;
  text-transform: lowercase;
  font-style: oblique;
}

.div-2 .feed-date {
  font-size: 13px;
  font-weight: 800;
  color: #7f7f7f;
}

.div-2 .para-1,
.div-2 .para-3,
.div-2 .para-4,
.div-2 .para-6,
.div-2 .para-8 {
  color: #7f7f7f;
  font-weight: 300;
  font-size: 17px;
  line-height: 26px;
  padding: 8px;
  word-spacing: -1px;
  text-align: justify;
  font-family: "Red Hat Display";
}
.div-2 .para-1 {
  grid-area: para-1;
}

.div-2 .para-2 {
  grid-area: para-2;
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #f5f9ad;
  border-style: none;
}
.div-2 .para-2 p {
  color: #a4127e;
  font-weight: 400;
  font-style: oblique;
  font-size: 1rem;
}
.div-2 .para-2 .tweet {
  text-align: justify;
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.div-2 .para-2 .tweet button {
  padding: 0.7em 1.2em;
  border-radius: 100em;
  background-color: #1da1f2;
  color: #fff;
  font-size: 15px;
}

.div-2 .para-3 {
  grid-area: para-3;
}

.div-2 .para-4 {
  grid-area: para-4;
}

.div-2 .para-5 {
  grid-area: para-5;
}

.div-2 .para-6 {
  grid-area: para-6;
}

.div-2 .para-7 {
  grid-area: para-7;
}
.para-7 .top-imgs,
.para-7 .bottom-imgs {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 7px;
  padding-top: 7px;
}

.para-7 .top-imgs .div-img,
.para-7 .bottom-imgs .div-img {
  border-left: 1px solid #a09f9f;
  border-right: 1px solid #a09f9f;
  height: 120px;
  /* background-color: rgb(226, 15, 15); */
}
.para-7 .top-imgs img,
.para-7 .bottom-imgs img {
  position: relative;
  align-items: center;
  display: flex;
  margin: 0px 4px 0px 4px;
  background-color: #ccc;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.div-2 .para-8 {
  grid-area: para-8;
}

.div-2 .feed-info {
  display: grid;
  grid-gap: 0.6rem;
  grid-template-areas:
    "para-1 para-1"
    "para-2 para-3"
    "para-4 para-5"
    "para-6 para-6"
    "para-7 para-7"
    "para-8 para-8";
}

.div-2 .info-represent {
  border: 1px solid #ccc;
  padding: 8px;
  padding-top: 0px;
}

.div-2 .info-represent p {
  color: #464646;
  font-size: 14px;
  font-weight: 400;
  font-style: oblique;
  font-family: "Red Hat Display";
  stroke: #000;
}
.story-footer {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  color: #464646;
  font-family: "Red Hat Display", sans-serif;
}
.div-2 .story-footer h2 {
  font-weight: 506;
  font-size: 17px;
  padding-right: 10px;
}
.div-2 .story-footer .share-links {
  display: grid;
  grid-gap: 1rem;
  grid-template-columns: repeat(6, 1fr);
  display: flex;
  /* justify-content: space-between; */
  font-size: 25px;
  transition: all 0.4s;
}

.div-2 .story-footer .share-links a {
  color: #464646;
}
.div-2 .story-footer .share-links a:hover {
  color: #a4127e;
}

.div-2 .story-btn {
  font-family: "Red Hat Display", Sans-serif;
  font-weight: 500;
  color: #a4127e;
}

.div-2 .feed-line {
  border-bottom: 1px solid #7f7f7f;
}

.div-2 .like-share {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.div-2 .like-share button {
  background-color: #1877f2;
  margin-left: 5px;
  padding: 2px 12px 2px 12px;
  border-radius: 4px;
  font-size: 11px;
  color: white;
}
.div-2 .like-share p {
  padding-left: 5px;
}
.div-2 .like-share button a {
  color: white;
}
.div-2 .like-share button:hover{
  color: white;
  background-color: #1877f2;
}

.div-2 .story-btn {
  display: flex;
  /* flex-wrap: wrap; */
  position: relative;
  width: 100%;
  flex-wrap: wrap;
  align-content: flex-start;
}
.div-2 .story-btn button {
  padding: 0.4rem 6rem 0.4rem 6rem;
  border: 1px solid #a4127e;
  background-color: transparent;
  color: #a4127e;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 10px;

  font-weight: 600;
}
@media (max-width: 810px) {
  .story-container {
    grid-template-columns: 0fr 1fr 0fr 0fr;
    padding: 10px;
  }
  .div-2 {
    /* width: 100%; */
  }
  .body-main {
    margin-top: 270px;
  }
  .div-2 .feed-info {
    display: flex;
    flex-direction: column;
  }
}
@media (max-width: 761px) {
  .div-2 .story-btn button {
    width: 200px;
    padding: 8px;
  }
}
.div-2 button:hover {
  color: white;
  background-color: #a4127e;
  transition: 0.4s;
}

/* COMMENT CONTAINER STARTS */

.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10rem;
}
.comment-container {
  /* max-width: 70vw;   */
  /* background-color: #d2c8c8; */
}

.accordian {
  width: 50vw;
  font-family: "Red Hat Display", sans-serif;
  /* margin-bottom: 10rem; */
}

.accordian .label1-container {
  padding: 7px 2px 9px;
  margin-top: 20px;
  margin-bottom: 5px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}

.accordian .label1-container .subscribe {
  display: flex;
  color: #666;
  font-size: 14px;
  line-height: 20px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
}
.subscribe h3 {
  margin: 0px 5px;
  font-weight: 400;
}
.accordian .label1-container .facebook {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.accordian .label1-container .facebook h3 {
  line-height: 20px;
  font-size: 14px !important;
  margin: 0 9px;
  vertical-align: baseline;
  font-weight: 400;
  color: #666;
}
.accordian .label1-container .facebook .facebook-icon {
  opacity: 0.8;
  font-size: 14px;
  cursor: pointer;
  /* color: #1da1f2; */
  text-align: center;
  align-items: center;
  line-height: 22px;
  background-color: #4267b2;
  width: 22px;
  height: 22px;
  border-radius: 50%;
  display: flex;

  align-items: center;
  justify-content: center;
  margin: 0 2px;
}
.facebook .facebook-icon a i {
  color: white;
}

.content1 {
  width: 100%;
  box-sizing: border-box;
  padding: 15px 0 5px;
  margin-bottom: 0;
}
.content1-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
  align-items: center;
  margin-bottom: 10px;
}

.content1 .notify label {
  font-size: 14px;
  display: block;
  padding: 3px 10px 3px 1px;
  line-height: 20px;
  box-sizing: border-box;
  white-space: nowrap;
}
.notify {
  display: flex;
  width: 60%;
}
.content1 .notify select {
  flex-grow: 1;
  font-size: 13px;
  display: block;
  padding-right: 5px;
  box-sizing: border-box;
  color: #464646;
}
.content1 .email-container {
  font-size: 14px;
  display: flex;
  padding: 0 5px 0 0;
  box-sizing: border-box;
  width: 30%;
}
.content1 .email-container input {
  font-size: 13px !important;
  padding: 3px !important;
  width: 100% !important;
  height: auto !important;
  line-height: 20px !important;
  box-sizing: border-box !important;
  clear: both;
  float: none;
  margin: 0;
}
.content1 select {
  border: 1px solid #ccc;
  margin-right: 4px;
}
.content1 input {
  border: 1px solid #ccc;
}
.content1 .email-button {
  font-size: 14px;
  display: block;
  box-sizing: border-box;
}
.content1 .email-button button {
  background-color: #a4127e;
  color: #ffffff;
  padding: 4px 8px 4px 8px;
}

.accordian .contentBx {
  position: relative;
  margin: 10px 20px;
}
.accordian .contentBx .label {
  position: relative;
  padding: 10px;
  cursor: pointer;
}

.accordian .contentBx1 .content1 form {
  position: relative;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}

.accordian .contentBx1.active1 .content1 form {
  /* display: block; */
  height: 60px;
  padding: 10px;
}

.accordian .label2 {
  display: flex;
  flex-direction: row;
  padding: 20px 0;
  align-items: center;
  /* flex-wrap: wrap; */
}
.accordian .label2-container {
  /* height: 50px; */
}
.accordian .label2-container img {
  height: 50px;
  border-bottom: 2px solid #ccc;
}
.accordian .label2 .write-comment {
  width: 100%;
  height: 100%;
}
.accordian .label2 .write-comment textarea {
  margin-left: 15px;
  height: 54px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
  padding: 10px 15px;
  font-size: 14px;
  box-shadow: inset 1px 1px 8px rgba(0, 0, 0, 0.1);
  font-family: inherit;
  outline: none;
  transition: 0.18s ease-out;
  resize: none;
  overflow: hidden;
  min-height: 3em;
  height: max-content;
}
.accordian .content2 .user-info {
  width: 49%;
  float: left;
  margin: 0;
  text-align: left;
}
.accordian .content2 .input-userInfo {
  width: 100%;
  vertical-align: baseline;
  padding: 1px 0px 8px;
  position: relative;
}
.accordian .content2 .input-userInfo .input-icon {
  display: inline-block;
  font-size: 16px;
  line-height: 16px;
  opacity: 0.3;
  padding: 0;
  margin: 0;
  position: absolute;
  top: 9px;
  left: 8px;
  width: 20px;
  text-align: left;
}

.accordian .content2 .input-userInfo input {
  border: 1px solid #dddddd;
  color: #464646;
  height: 32px;
  padding-left: 30px;
  width: 100%;
  line-height: 20px;
  color: #777;
  display: inline-block;
  float: none;
  clear: both;
  margin: 0;
  box-sizing: border-box;
  padding-top: 2%;
  padding-bottom: 2%;
  font-size: 14px;
  border-radius: 3px;
  vertical-align: baseline;
  box-shadow: 0px 0px 1px #555;
}

.accordian .content2 form {
  position: relative;
  height: 0px;
  overflow: hidden;
  transition: 0.5s;
}

.accordian .content2.active2 form {
  /* display: block; */
  height: 100%;
  padding: 10px;
}
.post-comment {
  width: 49%;
  float: right;
  margin: 0;
  text-align: right;
  padding: 0;
}
.post-comment-container {
  text-align: right;
  padding: 1px 2px 0 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
}
.icon-bell {
  display: inline-block;
  margin: 1px 0px 5px;
  padding: 5px;
  color: #7f7f7f;
  cursor: pointer;
  margin-right: 6px;
  border: 1px solid #ccc;
}
.accordian .content2 .post-comment button {
  margin-left: 2%;
  background-color: #a4127e;
  color: #ffffff;
  border: none;
  cursor: pointer;
  width: 100%;
  font-family: "Arial Hebrew", Arial, sans-serif;
  font-size: 14px;
  line-height: 24px;
  padding: 4px 20px;
  letter-spacing: 1px;
  box-shadow: 1px 1px 3px -1px #bbb;
  border-radius: 3px;
}
.accordian .content2 .post-comment button a {
  color: white;
}
.post-comment {
  float: left;
}
.number-comments {
  width: 100%;
  border-bottom: 2px solid #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.comment-no {
  border-bottom: 2px solid #a4127e;
  color: #555;
  padding: 5px 15px 3px 5px;
  font-weight: 600;
  margin-bottom: -2px;
  font-size: 14px;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-align: left;
  line-height: 24px;
}

.number-comments .space {
  flex-grow: 1;
}
.number-comments .filter-comment {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
}
.number-comments .bolt{
  color: #ffa600;
  
  border-bottom: 2px solid #999;
  border-bottom-color: #ffa600;
  width: 34px;
  font-size: 16px;
  /* color: #999; */
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
  margin: 0 1px -2px;
  line-height: 18px;
}
.number-comments .fire
{
  border-bottom: 2px solid #999;
  color: #fc5844;
  border-bottom-color: #fc5844;
  width: 34px;
  /* border-bottom-color: #ffa600; */
  width: 34px;
  font-size: 16px;
  /* color: #999; */
  cursor: pointer;
  text-align: center;
  padding: 5px 10px;
  margin: 0 1px -2px;
  line-height: 18px;
}

/* COMMENT CONTAINER ENDS */
@media (max-width: 710px) {
  .accordian .content2 .user-info {
    width: 100%;
  }
}
@media (max-width: 800px) {
  .accordian {
    width: 90vw;
  }
  .accordian .content1-container {
  }
  .accordian .content1-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  .notify {
    /* display: flex; */
    width: 100%;
  }

  .content1 .email-container {
    width: 100%;
  }
  .content1 .email-button {
    display: flex;
    width: 100%;
  }
  .content1 .email-button button {
    width: 99%;
  }
}
